<p>Scriptable, easy, cheap alerting.</p>

<!--
<div class="block notice">
  <h3>What Can I Do?</h3>    
  <div class="content">
  
    <p>Have your existing monitoring system send alerts via many methods, to many people,
    based on time, type
    <ul style="margin-left: 20px;">
      <li>Define a process</li>
      <li>Point monitoring at it (email, HTTP)</li>
      <li>Get alerts: IM, email, SMS, phone call</li>
    </ul>

    <p>Get fancy:</p>
    <ul style="margin-left: 20px;">
      <li>Notify multiple people <%= link_to 'concurrently', 'http://ruote.rubyforge.org/exp/concurrence.html' %></li>
      <li>Decide based on time or day</li>
      <li>"Shut up for 10 minutes" reply</li>
      <li>Testing and troubleshooting</li>
    </ul>

    <p>Make it your own:
    <ul style="margin-left: 20px;">     
      <li>Conditionals on alert-related variables (it's an alerting syntax)</li>
      <li>Send SMSes to most of the world</li>
      <li>Use your own hostname</li>
    </ul>
  </div>
</div>
-->

<h3>Actions</h3>
<ul>
  <li><%= link_to 'Create Process', new_process_path %></li>
</ul>