<div class="c3-button-container" style="margin-top: -1px; padding: 12px 12px 12px 15px; background: orange; align:center;">
  <a href="<%= accept_alert_path(alert) %>" class="c3-button big primary" title="Accept alert and stop notifications">Accept</a>
  <a href="<%= stop_alert_path(alert) %>" class="c3-button big" title="End alert and stop notifications" >End</a>
</div>
